.jp-AngularWidget {
  padding: 0;
  overflow: auto;
}

.jp-AngularIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23dd0031' d='M9.96.04c-.02 0-.04.01-.07.02L5.8 1.75c-.07.03-.12.1-.12.18v19.14c0 .08.05.15.12.18l4.09 1.69c.03.01.05.02.07.02.07 0 .13-.05.13-.12V.16c0-.07-.06-.12-.13-.12zm-1.54 2.24l2.95 1.22v18.79l-2.95-1.22V2.28zm12.46 0v19.44c0 .08-.05.15-.12.18l-4.09 1.69c-.03.01-.05.02-.07.02-.07 0-.13-.05-.13-.12V.16c0-.07.06-.12.13-.12.02 0 .04.01.07.02l4.09 1.69c.07.03.12.1.12.18z'/%3E%3C/svg%3E");
}
